@-webkit-keyframes animate {
  0%,
  100% {
    -webkit-clip-path: polygon(1% 43%, 14% 41%, 30% 48%, 47% 56%, 69% 61%, 87% 54%, 100% 46%, 100% 100%, 1% 100%);
            clip-path: polygon(1% 43%, 14% 41%, 30% 48%, 47% 56%, 69% 61%, 87% 54%, 100% 46%, 100% 100%, 1% 100%);
  }
  50% {
    -webkit-clip-path: polygon(1% 60%, 17% 65%, 34% 66%, 50% 61%, 63% 49%, 79% 40%, 99% 36%, 100% 99%, 0% 100%);
            clip-path: polygon(1% 60%, 17% 65%, 34% 66%, 50% 61%, 63% 49%, 79% 40%, 99% 36%, 100% 99%, 0% 100%);
  }
}

@keyframes animate {
  0%,
  100% {
    -webkit-clip-path: polygon(1% 43%, 14% 41%, 30% 48%, 47% 56%, 69% 61%, 87% 54%, 100% 46%, 100% 100%, 1% 100%);
            clip-path: polygon(1% 43%, 14% 41%, 30% 48%, 47% 56%, 69% 61%, 87% 54%, 100% 46%, 100% 100%, 1% 100%);
  }
  50% {
    -webkit-clip-path: polygon(1% 60%, 17% 65%, 34% 66%, 50% 61%, 63% 49%, 79% 40%, 99% 36%, 100% 99%, 0% 100%);
            clip-path: polygon(1% 60%, 17% 65%, 34% 66%, 50% 61%, 63% 49%, 79% 40%, 99% 36%, 100% 99%, 0% 100%);
  }
}

@-webkit-keyframes servir {
  0% {
    -webkit-transform: rotate(-130deg);
            transform: rotate(-130deg);
    opacity: 2;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0;
  }
}

@keyframes servir {
  0% {
    -webkit-transform: rotate(-130deg);
            transform: rotate(-130deg);
    opacity: 2;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0;
  }
}

@-webkit-keyframes disapear {
  0% {
    background-color: white;
  }
  100% {
    background-color: transparent;
  }
}

@keyframes disapear {
  0% {
    background-color: white;
  }
  100% {
    background-color: transparent;
  }
}

@-webkit-keyframes slideright {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  100% {
    -webkit-transform: translate(234px, 0px);
            transform: translate(234px, 0px);
  }
}

@keyframes slideright {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  100% {
    -webkit-transform: translate(234px, 0px);
            transform: translate(234px, 0px);
  }
}

@-webkit-keyframes slideright1 {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  100% {
    -webkit-transform: translate(360px, 0px);
            transform: translate(360px, 0px);
  }
}

@keyframes slideright1 {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  100% {
    -webkit-transform: translate(360px, 0px);
            transform: translate(360px, 0px);
  }
}

@-webkit-keyframes slideright2 {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  100% {
    -webkit-transform: translate(165px, 0px);
            transform: translate(165px, 0px);
  }
}

@keyframes slideright2 {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  100% {
    -webkit-transform: translate(165px, 0px);
            transform: translate(165px, 0px);
  }
}

@-webkit-keyframes backcolor {
  0% {
    background-image: linear-gradient(150deg, #949494 72%, #b70000 86%, #890101 97%);
    color: black;
  }
  100% {
    background: #000000;
    color: white;
  }
}

@keyframes backcolor {
  0% {
    background-image: linear-gradient(150deg, #949494 72%, #b70000 86%, #890101 97%);
    color: black;
  }
  100% {
    background: #000000;
    color: white;
  }
}

@-webkit-keyframes underline {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  100% {
    -webkit-transform: translate(200px, 0px);
            transform: translate(200px, 0px);
    opacity: 0;
  }
}

@keyframes underline {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  100% {
    -webkit-transform: translate(200px, 0px);
            transform: translate(200px, 0px);
    opacity: 0;
  }
}

@-webkit-keyframes swapright {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  20% {
    -webkit-transform: translateX(135px);
            transform: translateX(135px);
  }
  90% {
    -webkit-transform: translateX(135px);
            transform: translateX(135px);
    height: 101px;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(135px);
            transform: translateX(135px);
    height: 101px;
    opacity: 0;
  }
}

@keyframes swapright {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  20% {
    -webkit-transform: translateX(135px);
            transform: translateX(135px);
  }
  90% {
    -webkit-transform: translateX(135px);
            transform: translateX(135px);
    height: 101px;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(135px);
            transform: translateX(135px);
    height: 101px;
    opacity: 0;
  }
}

@-webkit-keyframes swapleft {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  20% {
    -webkit-transform: translateX(-135px);
            transform: translateX(-135px);
  }
  90% {
    height: 101px;
    -webkit-transform: translateX(-135px);
            transform: translateX(-135px);
    opacity: 1;
  }
  100% {
    height: 101px;
    -webkit-transform: translateX(-135px);
            transform: translateX(-135px);
    opacity: 0;
  }
}

@keyframes swapleft {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  20% {
    -webkit-transform: translateX(-135px);
            transform: translateX(-135px);
  }
  90% {
    height: 101px;
    -webkit-transform: translateX(-135px);
            transform: translateX(-135px);
    opacity: 1;
  }
  100% {
    height: 101px;
    -webkit-transform: translateX(-135px);
            transform: translateX(-135px);
    opacity: 0;
  }
}

@-webkit-keyframes apear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 2;
  }
}

@keyframes apear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 2;
  }
}
