@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@-webkit-keyframes animate {
  0%,
  100% {
    -webkit-clip-path: polygon(1% 43%, 14% 41%, 30% 48%, 47% 56%, 69% 61%, 87% 54%, 100% 46%, 100% 100%, 1% 100%);
            clip-path: polygon(1% 43%, 14% 41%, 30% 48%, 47% 56%, 69% 61%, 87% 54%, 100% 46%, 100% 100%, 1% 100%);
  }
  50% {
    -webkit-clip-path: polygon(1% 60%, 17% 65%, 34% 66%, 50% 61%, 63% 49%, 79% 40%, 99% 36%, 100% 99%, 0% 100%);
            clip-path: polygon(1% 60%, 17% 65%, 34% 66%, 50% 61%, 63% 49%, 79% 40%, 99% 36%, 100% 99%, 0% 100%);
  }
}
@keyframes animate {
  0%,
  100% {
    -webkit-clip-path: polygon(1% 43%, 14% 41%, 30% 48%, 47% 56%, 69% 61%, 87% 54%, 100% 46%, 100% 100%, 1% 100%);
            clip-path: polygon(1% 43%, 14% 41%, 30% 48%, 47% 56%, 69% 61%, 87% 54%, 100% 46%, 100% 100%, 1% 100%);
  }
  50% {
    -webkit-clip-path: polygon(1% 60%, 17% 65%, 34% 66%, 50% 61%, 63% 49%, 79% 40%, 99% 36%, 100% 99%, 0% 100%);
            clip-path: polygon(1% 60%, 17% 65%, 34% 66%, 50% 61%, 63% 49%, 79% 40%, 99% 36%, 100% 99%, 0% 100%);
  }
}

@-webkit-keyframes servir {
  0% {
    -webkit-transform: rotate(-130deg);
            transform: rotate(-130deg);
    opacity: 2;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0;
  }
}

@keyframes servir {
  0% {
    -webkit-transform: rotate(-130deg);
            transform: rotate(-130deg);
    opacity: 2;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0;
  }
}

@-webkit-keyframes disapear {
  0% {
    background-color: white;
  }
  100% {
    background-color: transparent;
  }
}

@keyframes disapear {
  0% {
    background-color: white;
  }
  100% {
    background-color: transparent;
  }
}

@-webkit-keyframes slideright {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  100% {
    -webkit-transform: translate(234px, 0px);
            transform: translate(234px, 0px);
  }
}

@keyframes slideright {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  100% {
    -webkit-transform: translate(234px, 0px);
            transform: translate(234px, 0px);
  }
}

@-webkit-keyframes slideright1 {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  100% {
    -webkit-transform: translate(360px, 0px);
            transform: translate(360px, 0px);
  }
}

@keyframes slideright1 {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  100% {
    -webkit-transform: translate(360px, 0px);
            transform: translate(360px, 0px);
  }
}

@-webkit-keyframes slideright2 {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  100% {
    -webkit-transform: translate(165px, 0px);
            transform: translate(165px, 0px);
  }
}

@keyframes slideright2 {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  100% {
    -webkit-transform: translate(165px, 0px);
            transform: translate(165px, 0px);
  }
}

@-webkit-keyframes backcolor {
  0% {
    background-image: linear-gradient(150deg, #949494 72%, #b70000 86%, #890101 97%);
    color: black;
  }
  100% {
    background: #000000;
    color: white;
  }
}

@keyframes backcolor {
  0% {
    background-image: linear-gradient(150deg, #949494 72%, #b70000 86%, #890101 97%);
    color: black;
  }
  100% {
    background: #000000;
    color: white;
  }
}

@-webkit-keyframes underline {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  100% {
    -webkit-transform: translate(200px, 0px);
            transform: translate(200px, 0px);
    opacity: 0;
  }
}

@keyframes underline {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  100% {
    -webkit-transform: translate(200px, 0px);
            transform: translate(200px, 0px);
    opacity: 0;
  }
}

@-webkit-keyframes swapright {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(135px);
            transform: translateX(135px);
  }
}

@keyframes swapright {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(135px);
            transform: translateX(135px);
  }
}

@-webkit-keyframes swapleft {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-135px);
            transform: translateX(-135px);
  }
}

@keyframes swapleft {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-135px);
            transform: translateX(-135px);
  }
}

@-webkit-keyframes apear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 2;
  }
}

@keyframes apear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 2;
  }
}

a:visited {
  color: black;
}

body {
  background: url(../images/pexels-william-choquette-2641886.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0%;
  padding: 0%;
  width: 100%;
}

header {
  background-size: cover;
  width: 100%;
}

header i {
  border-radius: 25px;
  margin-right: 15px;
  margin-left: 15px;
  font-size: 25px;
  color: #b70000;
}

header .sender {
  padding-top: 15px;
  padding-left: 1%;
  width: 35%;
}

@media (max-width: 890px) {
  header .sender {
    margin-bottom: 5%;
  }
}

header .sender h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #6a6a68;
  background-color: #949494;
  background-image: linear-gradient(150deg, #949494 72%, #b70000 86%, #890101 97%);
  border-radius: 25px;
  height: 35px;
  -webkit-box-shadow: 6px 6px 14px 1px #000000;
          box-shadow: 6px 6px 14px 1px #000000;
  font-size: 21px;
  width: 292px;
  margin-bottom: 15px;
}

header .sender h1:hover {
  -webkit-animation: backcolor 2s forwards;
          animation: backcolor 2s forwards;
}

header .sender h1:hover .sender__logo {
  -webkit-animation: slideright 2s forwards;
          animation: slideright 2s forwards;
}

header .sender .sender__logo {
  border: solid 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 25px;
  height: 35px;
  background-color: #000000;
  cursor: pointer;
}

header .sender__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #6a6a68;
  background-color: #949494;
  background-image: linear-gradient(150deg, #949494 72%, #b70000 86%, #890101 97%);
  border-radius: 25px;
  height: 35px;
  -webkit-box-shadow: 6px 6px 14px 1px #000000;
          box-shadow: 6px 6px 14px 1px #000000;
  margin-bottom: 13px;
  width: 418px;
  font-size: 13px;
}

header .sender__mail h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

header .sender__mail:hover {
  -webkit-animation: backcolor 2s forwards;
          animation: backcolor 2s forwards;
}

header .sender__mail:hover .sender__logo {
  -webkit-animation: slideright1 3s forwards;
          animation: slideright1 3s forwards;
}

header .sender__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #6a6a68;
  background-color: #949494;
  background-image: linear-gradient(150deg, #949494 72%, #b70000 86%, #890101 97%);
  border-radius: 25px;
  height: 35px;
  -webkit-box-shadow: 6px 6px 14px 1px #000000;
          box-shadow: 6px 6px 14px 1px #000000;
  width: 220px;
  font-weight: bold;
}

header .sender__phone p {
  margin: 0%;
}

header .sender__phone:hover {
  -webkit-animation: backcolor 2s forwards;
          animation: backcolor 2s forwards;
}

header .sender__phone:hover .sender__logo {
  -webkit-animation: slideright2 2s forwards;
          animation: slideright2 2s forwards;
}

header .recever {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .recever p {
  background-color: black;
  color: white;
  padding: 25px;
  text-align: center;
  margin: 0%;
  z-index: 3;
}

header .recever .border {
  background: white;
  margin-right: 3%;
  margin-bottom: 1%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 110px;
  width: 282px;
}

header .recever .border:hover .stick1 {
  background-color: black;
  border: solid;
  position: absolute;
  bottom: 0%;
  left: 0%;
  height: 55px;
  width: 141px;
  z-index: 1;
  -webkit-animation: swapright 1s forwards;
          animation: swapright 1s forwards;
}

header .recever .border:hover .stick2 {
  background-color: black;
  border: solid;
  position: absolute;
  top: 0%;
  right: 0%;
  height: 55px;
  width: 141px;
  z-index: 1;
  -webkit-animation: swapleft 1s forwards;
          animation: swapleft 1s forwards;
}

main {
  margin: 0%;
  padding-left: 1%;
}

@media (max-width: 890px) {
  main {
    padding: 0%;
  }
}

main .bloc__text {
  width: 75%;
}

@media (max-width: 890px) {
  main .bloc__text {
    margin: 0%;
    width: 100%;
  }
}

main article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0% 0% 0% 0%;
}

@media (max-width: 890px) {
  main article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main .text {
  font-size: 19px;
  font-family: "roboto";
  font-weight: bold;
  color: #000000;
}

main .tablette {
  display: none;
}

@media (max-width: 890px) {
  main .tablette {
    display: block;
    font-size: 22px;
  }
}

.aside__block {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "roboto";
  background: rgba(255, 255, 255, 0.699);
  border-radius: 40px;
}

@media (max-width: 890px) {
  .aside__block {
    width: 80%;
    margin-top: 10%;
  }
}

.aside__block h3 {
  margin: 0% 13% 0% 15%;
  padding: 0% 0% 0% 0%;
}

.aside__block h2 {
  width: 100%;
  margin-bottom: 20%;
}

.aside__block .projet__1 {
  -webkit-box-shadow: 6px 6px 14px 1px #000000;
          box-shadow: 6px 6px 14px 1px #000000;
  background-color: #949494;
  background-image: linear-gradient(150deg, #949494 72%, #b70000 86%, #890101 97%);
  border: inset 2px #fcfcfc;
  position: relative;
  width: 80%;
  height: 60px;
  margin-top: 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
}

.aside__block .projet__2 {
  -webkit-box-shadow: 6px 6px 14px 1px #000000;
          box-shadow: 6px 6px 14px 1px #000000;
  background-color: #949494;
  background-image: linear-gradient(150deg, #949494 72%, #b70000 86%, #890101 97%);
  border: inset 2px #fcfcfc;
  position: relative;
  width: 80%;
  height: 60px;
  margin-top: 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
}

.aside__block .projet__3 {
  -webkit-box-shadow: 6px 6px 14px 1px #000000;
          box-shadow: 6px 6px 14px 1px #000000;
  background-color: #949494;
  background-image: linear-gradient(150deg, #949494 72%, #b70000 86%, #890101 97%);
  border: inset 2px #fcfcfc;
  position: relative;
  width: 80%;
  height: 60px;
  margin-top: 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
}

.aside__block .aside__buttle {
  width: 100%;
}

.aside__block .aside__buttle .btle {
  width: 35px;
  margin-left: 5%;
  z-index: 8;
}

.hand {
  position: absolute;
  left: 0%;
}

.info {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info p {
  font-size: 0px;
}

.info .fa-circle-info {
  bottom: 0%;
  font-size: 35px;
  color: black;
}

.info:hover {
  width: 100%;
  height: 30%;
}

.info:hover p {
  -webkit-animation: apear 5s forwards;
          animation: apear 5s forwards;
  margin-bottom: 15%;
  font-size: 18px;
  line-height: 25px;
  width: 100%;
  color: black;
  font-weight: bold;
  text-align: center;
  border-radius: 90px;
  background: rgba(0, 0, 0, 0.363);
}

.info:hover .fa-circle-info {
  display: none;
}

.container {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5%;
}

.content {
  margin-top: 10%;
  position: relative;
  width: 100%;
}

.content h2 {
  font-size: 35px;
  border: inset 2px #fcfcfc;
  margin: 0%;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 25px;
}

.content h2:nth-child(1) {
  position: absolute;
  bottom: 0%;
}

.content h2:nth-child(2) {
  background: #ac1e44;
  -webkit-animation: animate 4s ease-in-out;
          animation: animate 4s ease-in-out;
  -webkit-animation-iteration-count: 5;
          animation-iteration-count: 5;
}

.btle .btle__logo {
  position: absolute;
  width: 35px;
  top: 250px;
  right: 2%;
  -webkit-animation: servir 5s forwards;
          animation: servir 5s forwards;
}

@media (max-width: 890px) {
  .btle .btle__logo {
    display: none;
  }
}

.bloc__text {
  background: rgba(255, 255, 255, 0.699);
  border-radius: 40px;
  padding-left: 1%;
  margin-right: 5%;
}

@media (max-width: 890px) {
  .bloc__text {
    margin: 0%;
  }
}

.bloc__text .underline {
  width: 210px;
  height: 3px;
  background-image: linear-gradient(150deg, #949494 72%, #b70000 86%, #890101 97%);
}

.bloc__text:hover .underline {
  width: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3px;
  background-image: linear-gradient(150deg, #949494 72%, #b70000 86%, #890101 97%);
}

.bloc__text:hover .underline .underline__moove {
  height: 3px;
  width: 10%;
  background-color: #949494;
  background-image: linear-gradient(150deg, #949494 48%, #b70000 57%, #890101 64%);
  -webkit-animation: underline 2s infinite;
          animation: underline 2s infinite;
}

.thank {
  font-size: 19px;
  font-family: "roboto";
  font-weight: bold;
  color: black;
}

footer {
  padding-left: 1%;
}

footer h3 {
  color: white;
  padding-left: 1%;
  font-size: 25px;
}

@media (max-width: 890px) {
  footer h3 {
    display: none;
  }
}
