@import "./utils/Keyframes.scss";
@import "./utils/mixin.scss";
@import "./utils/variable.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
a:visited {
  color: black;
}
body {
  background: url(../images/pexels-william-choquette-2641886.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0%;
  padding: 0%;
  width: 100%;
}
header {
  background-size: cover;
  width: 100%;
  i {
    border-radius: 25px;
    margin-right: 15px;
    margin-left: 15px;
    font-size: 25px;
    color: #b70000;
  }
  .sender {
    @media (max-width: $breakpoint-tablet) {
      margin-bottom: 5%;
    }
    padding-top: 15px;
    padding-left: 1%;
    width: 35%;
    h1 {
      @include sender;
      @include boxshade;
      font-size: 21px;
      width: 292px;
      margin-bottom: 15px;
      &:hover {
        animation: backcolor 2s forwards;
        .sender__logo {
          animation: slideright 2s forwards;
        }
      }
    }
    .sender__logo {
      @include senderlogo;
      cursor: pointer;
    }
  }
  .sender__mail {
    @media (max-width: $breakpoint-tablet) {
      width: 360px;
    }
    @include sender;
    @include boxshade;
    margin-bottom: 13px;
    width: 418px;
    font-size: 13px;
    h2 {
      @media (max-width: $breakpoint-mobile) {
        font-size: 17px;
      }
      display: flex;
      align-items: center;
      margin: 0;
    }
    &:hover {
      @media (max-width: $breakpoint-tablet) {
        animation: none;
      }
      animation: backcolor 2s forwards;
      .sender__logo {
        @media (max-width: $breakpoint-tablet) {
          animation: none;
        }
        animation: slideright1 3s forwards;
      }
    }
  }
  .sender__phone {
    @include sender;
    @include boxshade;
    width: 220px;
    font-weight: bold;
    p {
      margin: 0%;
    }
    &:hover {
      animation: backcolor 2s forwards;
      .sender__logo {
        animation: slideright2 2s forwards;
      }
    }
  }
  .recever {
    @media (max-width: $breakpoint-mobile) {
      margin-bottom: 5%;
    }
    display: flex;
    justify-content: flex-end;
    p {
      background-color: black;
      color: white;
      padding: 25px;
      text-align: center;
      margin: 0%;
      z-index: 3;
    }
    .border {
      background: white;
      margin-right: 3%;
      margin-bottom: 1%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 110px;
      width: 282px;
      &:hover {
        .stick1 {
          background-color: black;
          border: solid;
          position: absolute;
          bottom: 0%;
          left: 0%;
          height: 55px;
          width: 141px;
          z-index: 1;
          animation: swapright 1s forwards;
        }
        .stick2 {
          background-color: black;
          border: solid;
          position: absolute;
          top: 0%;
          right: 0%;
          height: 55px;
          width: 141px;
          z-index: 1;
          animation: swapleft 1s forwards;
        }
      }
    }
  }
}

main {
  @media (max-width: $breakpoint-desktop) {
    padding: 0%;
  }
  margin: 0%;
  padding-left: 1%;
  .bloc__text {
    @media (max-width: $breakpoint-desktop) {
      margin: 0%;
      width: 100%;
    }
    width: 75%;
  }
  article {
    @media (max-width: $breakpoint-desktop) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    display: flex;
    padding: 0% 0% 0% 0%;
  }

  .text {
    font-size: 19px;
    font-family: "roboto";
    font-weight: bold;
    color: #000000;
  }
  .tablette {
    @media (max-width: $breakpoint-tablet) {
      display: block;
      font-size: 22px;
    }
    display: none;
  }
}

.aside__block {
  @media (max-width: $breakpoint-desktop) {
    width: 80%;
    margin-top: 10%;
    margin-bottom: 5%;
  }
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "roboto";
  background: rgba(255, 255, 255, 0.699);
  border-radius: 40px;
  h3 {
    margin: 0% 13% 0% 15%;
    padding: 0% 0% 0% 0%;
  }
  h2 {
    width: 100%;
    margin-bottom: 20%;
  }
  .projet__1 {
    @include boxshade;
    @include backcolor;
    @include projet;
    a:visited {
      color: black;
    }
  }
  .projet__2 {
    @include boxshade;
    @include backcolor;
    @include projet;
    a:visited {
      color: black;
    }
  }
  .projet__3 {
    @include boxshade;
    @include backcolor;
    @include projet;
    a:visited {
      color: black;
    }
  }
  .aside__buttle {
    width: 100%;
    .btle {
      width: 35px;
      margin-left: 5%;
      z-index: 8;
    }
  }
}
.hand {
  position: absolute;
  left: 0%;
}
.info {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    font-size: 0px;
  }
  .fa-circle-info {
    bottom: 0%;
    font-size: 35px;
    color: rgb(0, 0, 0);
  }
  &:hover {
    width: 100%;
    height: 30%;
    p {
      animation: apear 5s forwards;
      margin-bottom: 15%;
      font-size: 18px;
      line-height: 25px;
      width: 100%;
      color: rgb(0, 0, 0);
      font-weight: bold;
      text-align: center;
      border-radius: 90px;
      background: rgba(0, 0, 0, 0.363);
    }
    .fa-circle-info {
      display: none;
    }
  }
}

.container {
  background-color: transparent;
  display: flex;
  align-items: center;
  margin-bottom: 5%;
}
.content {
  margin-top: 10%;
  position: relative;
  width: 100%;
}
.content h2 {
  font-size: 35px;
  border: inset 2px rgb(252, 252, 252);
  margin: 0%;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 25px;
}
.content h2:nth-child(1) {
  position: absolute;
  bottom: 0%;
}
.content h2:nth-child(2) {
  background: #ac1e44;
  animation: animate 4s ease-in-out;
  animation-iteration-count: 5;
}
.btle {
  .btle__logo {
    @media (max-width: $breakpoint-desktop) {
      display: none;
    }
    position: absolute;
    width: 35px;
    top: 250px;
    right: 2%;
    animation: servir 5s forwards;
  }
}
.bloc__text {
  @media (max-width: $breakpoint-tablet) {
    margin: 0%;
  }
  background: rgba(255, 255, 255, 0.699);
  border-radius: 40px;
  padding-left: 1%;
  margin-right: 5%;
  .underline {
    width: 210px;
    height: 3px;
    background-image: linear-gradient(
      150deg,
      #949494 72%,
      #b70000 86%,
      #890101 97%
    );
  }
  &:hover {
    .underline {
      width: 210px;
      display: flex;
      align-items: center;
      height: 3px;
      background-image: linear-gradient(
        150deg,
        #949494 72%,
        #b70000 86%,
        #890101 97%
      );
      .underline__moove {
        height: 3px;
        width: 10%;
        background-color: #949494;
        background-image: linear-gradient(
          150deg,
          #949494 48%,
          #b70000 57%,
          #890101 64%
        );

        animation: underline 2s infinite;
      }
    }
  }
}

.thank {
  font-size: 19px;
  font-family: "roboto";
  font-weight: bold;
  color: rgb(0, 0, 0);
}

footer {
  padding-left: 1%;
  h3 {
    @media (max-width: $breakpoint-tablet) {
      display: none;
    }
    color: white;
    padding-left: 1%;
    font-size: 25px;
  }
}
