@mixin sender {
  border: 1px solid rgb(0, 0, 0);
  display: flex;
  justify-content: start;
  align-items: center;
  background-image: linear-gradient(to top, #ebbba7 0%, #cfc7f8 100%);
  border-radius: 25px;
  height: 35px;
}

@mixin senderlogo {
  border: solid 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  height: 35px;
  background-image: linear-gradient(135deg, #fccf31 10%, #f55555 100%);
}

@mixin boxshade {
  box-shadow: 6px 6px 14px 1px #000000;
}

@mixin backcolor {
  background-image: linear-gradient(to top, #ebbba7 0%, #cfc7f8 100%);
  border: inset 2px rgb(172, 172, 172);
}

@mixin projet {
  position: relative;
  width: 80%;
  height: 15%;
  margin: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
}
