@mixin sender {
  display: flex;
  justify-content: start;
  align-items: center;
  background: linear-gradient(
    162deg,
    rgba(145, 34, 15, 1) 14%,
    rgb(122, 114, 111) 57%,
    rgba(253, 61, 22, 1) 88%
  );
  border-radius: 25px;
  height: 35px;
}

@mixin senderlogo {
  border: solid 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  height: 35px;
  background-image: linear-gradient(135deg, #fccf31 10%, #f55555 100%);
}

@mixin boxshade {
  box-shadow: 6px 6px 14px 1px #000000;
}

@mixin backcolor {
  background: linear-gradient(
    162deg,
    rgba(145, 34, 15, 1) 14%,
    rgb(122, 114, 111) 57%,
    rgba(253, 61, 22, 1) 88%
  );
  border: inset 2px rgb(252, 252, 252);
}

@mixin projet {
  position: relative;
  width: 80%;
  height: 12%;
  margin-top: 6%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
}
