@mixin sender {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #6a6a68;
  background-color: #949494;
  background-image: linear-gradient(
    150deg,
    #949494 72%,
    #b70000 86%,
    #890101 97%
  );

  border-radius: 25px;
  height: 35px;
}

@mixin senderlogo {
  border: solid 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  height: 35px;
  background-color: #000000;

}

@mixin boxshade {
  box-shadow: 6px 6px 14px 1px #000000;
}

@mixin backcolor {
  background-color: #949494;
  background-image: linear-gradient(
    150deg,
    #949494 72%,
    #b70000 86%,
    #890101 97%
  );

  border: inset 2px rgb(252, 252, 252);
}

@mixin projet {
  position: relative;
  width: 80%;
  height: 12%;
  margin-top: 6%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
}
